@font-face {
	font-family: 'font';
	src: url('Polices/Elcsa.otf');
}

body {
	font-family: font;
	font-size: 130%;
	background-image: url(IMG/fond_4.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
	color: white;
	overflow: auto;
	height : 1000px;
}

#smartscanbc {
	width: 55%;
	position: absolute;
	top: -8em;
	padding: auto;
	margin: auto;
	left: 15em;
	display : inline;
}
#logoCond{
	width: 10%;
	height : 26%;
	position: static;
	top: 0em;
	margin-top: 0;
	left: 20em;
	float: left;
	display: inline-block:
}
#condGen{
	float: left;
	width: 99%;
	background-color: black;
	opacity: 0.75;
	border-radius: 20px;
	position: absolute;
	top: 20%;
	height : 12%;
}
#contact{
	width: 50%;
	background-color: black;
	opacity: 0.75;
	border-radius: 20px;
	position: absolute;
	top: 40%;
	left: 25%;
	height : 60%;
}
h2{
	color:white;
	margin-left: 20px;
}
#email{
	float: left;
	display : block;
	position: relative;
	top: -85px;
	left: 400px;
}
#emailForm{
	float:right;
	position: relative;
	top: -62px;
}

input[type=text] {
    width: 35%;
    padding: 12px 20px;
    margin: 10px 10px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
textarea{
	width: 35%;
    padding: 12px 20px;
    margin: 10px 10px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	width: 75%;
}

input[type=submit] {
    background-color: #800000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
	position: relative;
	left : 270px;
	top: -20px;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

form {
    width:85%;
    padding: 30px;
}
