@font-face {
	font-family: 'font';
	src: url('Polices/Medel.ttf');
}

body {
	font-family: font;
	font-size: 130%;
	background-image: url(IMG/fond_4.png);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
	color: white;
	overflow: auto;
	height : 100%;
	background-size: cover;
	text-align: center;
}

#entete {
	text-align: center;
}

#smartscanbc {
	width: 50%;
	text-align: center;
	margin-left:-7%;
}

#logoCond{
	width: 10%;
	height : 26%;
	float: left;
}
#condGen{
	float: left;
	width: 99%;
	background-color: black;
	opacity: 0.75;
	border-radius: 20px;
	height : 12%;
	margin: 1%;
	margin-top: 2%;
}

#blabla {
	background-color: black;
	opacity: 0.75;
	border-radius: 20px;
	color: white;
	width: 80%;
	text-align: center;
	margin: auto;
	margin-top: 15%;
	padding: 2%;
}

h2{
	color:white;
	margin-left: 20px;
}

#contact {
	color: black;
	font-size: 130%;
}