@font-face {
	font-family: 'font';
	src: url('Polices/Medel.ttf');
}


body {
	font-family: font;
	font-size: 130%;
	background-image: url(IMG/fond_4.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
	color: white;
	overflow: auto;
	background-size: cover;
	margin: 0;
}

#smartscanbc {
	width: 50%;
	margin-top: 1%;
	margin-left: 16%;
}

#logo{
	width: 8%;
	height : 26%;
	margin-top: 1%;
	margin-left: 1%;
	float: left;
}

#supprimer{
	width:7%;
    padding: 1%;
    background-color: black;
	color: red;
	border-radius: 20%;
	opacity: 0.50;
	float : right;
	margin-right: 1%;
	margin-top: 1%;
	text-align: center;
	font-size: 1.3vw;
}
#deco{
	width:7%;
    padding: 1%;
    background-color: black;
	border-radius: 20%;
	opacity: 0.75;
	float : right;
	margin-right: 1%;
	text-align: center;
	font-size: 1.3vw;
}

#compte{
	width: 40%;
	background-color: black;
	opacity: 0.75;
	border-radius: 4%;
	margin: 4% auto 4% auto;
	height : 110%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 1.5% 1%;
    margin: 2% 0;
    display: inline-block;
    border: 1% solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #800000;
    color: white;
    padding: 3% 20%;
    margin: 5% 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

form {
    width:85%;
    padding: 4%;
    box-shadow: 0 0 20% 0 rgba(0, 0, 0, 0.2), 0 5% 5% 0 rgba(0, 0, 0, 0.24);
}

a {
	color: white;
	/**margin-top: 2%;**/
}
::-webkit-scrollbar {
    width: 0.7%;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    backg