@font-face{
	font-family: 'Font';
	src: url('Polices/space.ttf');
}
@font-face{
	font-family: 'Kiona-Regular';
	src: url('Polices/Kiona-Regular.ttf');
}
@font-face{
	font-family: 'Kiona-Regular';
	src: url('Polices/Kiona-Regular.ttf');
}
body{
    background: #EBEBEB;
	/**font-family: 'Font';**/
	font-size: 1.2em;
	/**background-image : url('Image.PNG');**/
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
	/*float: right;*/
}
#container2{
    width:400px;
    margin:0 auto;
    margin-top:5%;
}

form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#Titre{
	font-family: 'Kiona-Regular';
	font-size: 3em;
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}
#connexion{
	width:8%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	float : right;
	background-color : #F0FFFF;
	box-sizing : content-box;
}
#equipe{
	width:60%;
    padding: 10px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	display : block;
	margin: 30px;
	background-color : #F0FFFF;
	box-sizing : content-box;
}
#presentationWeb{
	width:60%;
    padding: 10px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	display : inline-block;
	margin: 30px;
	background-color : #F0FFFF;
	box-sizing : content-box;
}
#presentationApp{
	width:60%;
    padding: 10px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	display : inline-block;
	margin: 30px;
	background-color : #F0FFFF;
}

#telechargement{
	width:16%;
    padding: 10px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	display : block;
	margin: 30px;
	float: right;
	box-sizing : content-box;
	background-color : #F0FFFF;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #800000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}
h1{
	text-align: center;
}

a:link{ 
    color: blue;
    text-decoration: none;
}
a:hover {
    color: red;
}

