@font-face {
	font-family: 'font';
	src: url('Polices/Elcsa.otf');
}


body {
	font-family: font;
	font-size: 130%;
	background-image: url(IMG/fond_4.png);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
	height: 100%;
	color: white;
	overflow: auto;
	height : 1000%;
	background-size: cover;
	margin: 0;
}
#h1{
	text-align: center;
}
#header{
	height: 80%;
}

#footer{
	height : 20%;
}

#smartscanbc {
	width: 55%;
	position: absolute;
	top: 2%;
	padding: auto;
	margin: auto;
	left: 23%;
	display : inline;
}

#logo{
	width: 8%;
	height : 26%;
	position: static;
	margin-top: 1%;
	margin-left: 2%;
	left: 20%;
	float: left;
	display: inline-block:
}
#compte{
	width:5%;
    padding: 1%;
    background-color: black;
	border-radius: 20%;
	opacity: 0.75;
	float : right;
	position: absolute;
	right: 2%;
	top: 5%;
	text-align: center;
}
#deco{
	width:5%;
    padding: 1%;
    background-color: black;
	border-radius: 20%;
	opacity: 0.75;
	float : right;
	position: absolute;
	right: 2%;
	top: 15%;
	text-align: center;
}
#ajoutCarte{
	width:4.5%;
    padding: 1%;
    background-color: black;
	border-radius: 20%;
	opacity: 0.75;
	float : right;
	position: absolute;
	right: 20%;
	top: 23%;
	text-align: center;
	font-size: 1.2 vw;
}
#groupe{
	float: left;
	width: 12%;
	background-color: black;
	opacity: 0.75;
	border-radius: 20px;
	position: absolute;
	top: 23.5%;
	height : 75%;
	left: 1%;
}
#cartes{
	float: left;
	width: 60%;
	background-color: black;
	opacity: 0.75;
	border-radius: 20px;
	position: absolute;
	left: 20%;
	top: 40%;
	height : 75%;
}
#tri{
	float: left;
	width: 30%;
	background-color: black;
	opacity: 0.75;
	border-radius: 20px;
	position: absolute;
	left: 35%;
	top: 23%;
	height : 10%;
}

a {
	color: white;
	/**margin-top: 2%;**/
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    backg
}