@font-face {
	font-family: 'font';
	src: url('POLICE/Elcsa.otf');
}

body {
	font-family: font;
	font-size: 130%;
	background-image: url(fond_4.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
	color: white;
	overflow: auto;
	height : 1000px;
}
#h1{
	text-align: center;
}
#header{
	height: 80%;
}

#footer{
	height : 20%;
}

#equipe {
	height : 80%;
	width : 25%;
	background-color: black;
	border-radius: 20px;
	opacity: 0.75;
	text-align : center;
	display : inline-block;
	float: left;
	margin : 10px 100px 10px 0;
}

#presentationWeb {
	height : 80%;
	width : 25%;
	background-color: black;
	border-radius: 20px;
	opacity: 0.75;
	text-align : center;
	left: 75px;
	display : block;
	float: left;
	margin : 10px 100px 10px 75px;
}

#presentationApp {
	height : 80%;
	width : 26%;
	background-color: black;
	border-radius: 20px;
	opacity: 0.75;
	text-align : center;
	left: 100px;
	display : block;
	float: left;
	margin : 10px 0 10px 75px;
}

#smartscanbc {
	width: 55%;
	position: absolute;
	top: -8em;
	padding: auto;
	margin: auto;
	left: 15em;
	display : inline;
}

#logo{
	width: 40%;
	height : 80%;
	position: absolute;
	top: 2.5em;
	padding: auto;
	margin: auto;
	left: 20em;
	background-attachment: fixed;
}

#connexion{
	width:8%;
    padding: 30px;
    background-color: black;
	border-radius: 20px;
	opacity: 0.75;
	float : right;
	position: absolute;
	right: 7px;
	top: 7px;
	text-align: center;
}

#connexion:hover {
	opacity: 0.9;
}

#telechargement {
	width:8%;
    padding: 30px;
    background-color: black;
	border-radius: 20px;
	opacity: 0.75;
	float : right;
	position: absolute;
	right: 7px;
	top: 7px;
	text-align: center;
	margin-top : 200px;
}

a {
	color: white;
	margin-top: 2%;
}


#annonce {
	float: left;
	width: 99%;
	background-color: black;
	opacity: 0.75;
	border-radius: 20px;
	position: absolute;
	/**left: 27%;**/
	top: 75%;
	height : 20%;
}
#annonce:hover {
	opacity: 0.9;
}

#card_1 {
	width: 8%;
	margin: 35px 20px 20px 20px;
}
#card_2 {
	width: 8%;
	margin: auto 20px auto;
}
#card_3 {
	width: 8%;
	margin: 0 auto;
}
#card_4 {
	width: 8%;
	margin: 0 auto;
}
#card_5 {
	width: 8%;
	margin: 0 auto;
}
#card_6 {
	width: 8%;
	margin: 0 auto;
}
#card_7 {
	width: 8%;
	margin: 20px;
}
#card_8 {
	width: 8%;
	margin: 20px;
}
#container{
	background-color: black;
	border-radius: 20px;
	opacity: 0.75;
	width:400px;
    margin:0 auto;
    margin-top:10%;
	text-align: center;
}
#container2{
	background-color: black;
	border-radius: 20px;
	opacity: 0.75;
    width:400px;
    margin:0 auto;
    margin-top:5%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #800000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

form {
    width:85%;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#titre{
	font-size: 50px;
}
#inscription{
	text-align:center;
}
#test2{
	height: 20%;
	background-color: black;
	width: 100%;
	opacity: 0.75;
	
}

#conditions{
	display : inline-block;
	left: 50px;
	margin: auto;
}

#questions{
	top: 75px;
	margin: auto;
	display : inline-block;
	left: 75px;
}
.texte{
	background-attachment: fixed;
	color: white;
	text-align : center;
	display: inherit;
	margin: 50px auto;
}

#nav3{
	text-align: center;
	display: inherit;
	margin: 50px auto;
	top: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}